VITE_SUPABASE_URL=https://mbabmxoexgnxblkcvril.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iYWJteG9leGdueGJsa2N2cmlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MDkwOTgsImV4cCI6MjA4NzI4NTA5OH0.fkSdah4O4t9GUchwtrL2gwetGLWls3mGsiUog_Md4-g
